<div class="container">
  <div class="section">
    <div class="columns">
      <div class="column has-text-centered">
        <h1 class="title">Login</h1><br />
      </div>
    </div>
    <form action="/auth/signup" method="POST">
      <div>
        <label for="name">Name</label>
        <input name="name" type="text" />
      </div>
      <div>
        <label for="email">Email</label>
        <input name="email" type="email" />
      </div>
      <div>
        <label for="password">Password</label>
        <input name="password" type="password" />
      </div>
      <div>
        <label class="form-label" for="timezone">Timezone</label>
        <select name="timezone" id="timezone">
          <option value="-4">EDT (Knoxville)</option>
          <option value="-5">CDT (Nashville)</option>
        </select>
      </div>
      <div>
        <button type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>