<form action="/auth/signup" method="POST">
  <div>
    <input name="name" type="text" />
    <label for="name">Name</label>
  </div>

  <div>
    <select name="timezone" id="timezone">
      <option value="-4">EDT (Knoxville)</option>
      <option value="-5">CDT (Nashville)</option>
    </select>
    <label class="form-label" for="timezone">Timezone</label>
  </div>
  
  <div>
    <input name="email" type="email" />
    <label for="email">Email address</label>
  </div>

  <div>
    <input name="password" type="password" />
    <label for="password">Password</label>
  </div>
  
  <div>
    <button type="submit">Sign up</button>
  </div>
</form>