<% if (alerts.error) { %>
    <div class="columns">
        <div class="column has-text-centered">
            <% alerts.error.forEach(msg => { %>
                <div class="has-text-white has-background-danger"><%= msg %></div>
            <% }) %>
        </div>
    </div>
<% } %>

<% if (alerts.success) { %>
    <div class="columns">
        <div class="column has-text-centered">
            <% alerts.success.forEach(msg => { %>
                <div class="has-text-white has-background-success"><%= msg %></div>
            <% }) %>
        </div>
    </div>
<% } %>