<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
            <h1 class="title">Edit Species</h1><br />
            </div>
        </div>
        <form action="/species/edit/<%= specie.id %>/?_method=PUT" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= specie.name %>" required />
            </div>
            <div>
                <label for="img">Image</label>
                <input type="text" id="img" name="img" value="<%= specie.img %>" />
            </div>
            <div>
                <label for="wiki">Wikipedia</label>
                <input type="text" id="wiki" name="wiki" value="<%= specie.wiki %>" />
            </div>
            <button type="submit">Submit</button>
        </form>
    </div>
</div>