<section class="hero is-info is-fullheight">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="column is-6 is-offset-3">
                <h1 class="title">
                    Fishing Journal
                </h1>
                <h2 class="subtitle">
                    Track catches and establish patterns.
                </h2>
            </div>
        </div>
    </div>
</section>