<div class="container">
    <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title mb-0">Lures</h1>
            (<a href="/lures/edit/<%= lure.id %>">edit</a>) | (<a href="/lures/delete/<%= lure.id %>">delete</a>)
          </div>
        </div>
        <div id="app" class="row columns is-multiline">
            <div class="column is-4"></div>
            <div class="column is-4">
                <div class="card large">
                    <div class="card-content">
                        <div class="media">
                            <div class="media-content">
                                <p class="has-text-weight-bold">
                                    <%= lure.name %>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-4"></div>
        </div>
    </div>
</div>