<div class="container">
    <div class="section">
        <div class="columns">
            <div class="column has-text-centered">
            <h1 class="title">Edit Technique</h1><br />
            </div>
        </div>
        <form action="/techniques/edit/<%= technique.id %>/?_method=PUT" method="POST">
            <div>
                <label for="name">Name</label>
                <input type="text" id="name" name="name" value="<%= technique.name %>" required />
            </div>
            <button type="submit">Submit</button>
            <a href="/techniques/<%= technique.id %>">cancel</a>
        </form>
    </div>
</div>