<div class="container">
    <div class="section">
        <div class="columns">
          <div class="column has-text-centered">
            <h1 class="title mb-0">Techniques</h1>
            (<a href="/techniques/edit/<%= technique.id %>">edit</a>) | (<a href="/techniques/delete/<%= technique.id %>">delete</a>)
          </div>
        </div>
        <div class="row columns is-multiline">
            <div class="column is-6">
                <div class="media-content">
                    <p>
                        <%= technique.name %>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>